<nav>
  <ul class="nav">
    <li <% if (title=="Main") { %> class="active" <% } %>><a href="/">HOME</a></li>
    <li <% if (title=="Teachers") { %> class="active" <% } %>><a href="/teachers">Teachers</a></li>
    <li <% if (title=="Students") { %> class="active" <% } %>><a href="/students">Students</a></li>
    <li <% if (title=="Groups") { %> class="active" <% } %>><a href="/groups">Groups</a></li>
    <li <% if (title=="About") { %> class="active" <% } %>><a href="/about">About</a></li>
    <li <% if (title=="Posts") { %> class="active" <% } %>><a href="/posts">Posts</a></li>
    <li <% if (title=="Comments") { %> class="active" <% } %>><a href="/comments">Comments</a></li>
  </ul>
</nav>
