<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h3>Main Page</h3>
    <img src="/image.png" alt="image.png">
  </body>
</html>
